:root{
    --color-nintendo: #e4040c;
}


*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    
    background-color: black;
}

/* -------------------------- NAVBAR ------------------------*/
/* --------------------------------------------------------- */

.show{
    display: flex !important;/* porque debemos sobreescribir cualquier estado que tengan nuestros elementos */
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 50px;
}

nav ul li > a{
    display: block;
    position: relative;
    padding: 20px 15px 10px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;

    color: white;
}

nav ul li > a img {
    position: absolute;
    left: -64px;
    top: 16px;
}

nav ul li .link::before{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;

    background-color: rgb(207, 207, 207);
}

nav ul li .link:hover::before{
    transform: scaleX(1);
}

nav .more{
    display: none;
}

nav .menu{
    position: absolute;
    display: none;
    flex-direction: column;
    min-width: 200px;
    margin-top: 52px;

    background-color: rgba(0, 0, 0, 0.3);
}

nav .menu a{
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav .menu a:hover{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

/* ------------------------ NAVBAR MOBILE-------------------------- */
/* ------------------------------------------------------------- */

nav .mobile{
    display: none;
    width: 100%;
}

nav .mobile .header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
    opacity: 1 !important;
    transform: scale(1) !important;

    background-color: var(--color-nintendo);
}

nav .mobile .header a{
    color: white;
    display: inline-flex;
    text-decoration: none;
    padding: 10px;
}

nav .mobile .header #bmenu{
    border: none;
    background: transparent;
    cursor: pointer;

    color: white;
}

nav .mobile .links{
    display: none;
    flex-direction: column;
    position: relative;
    z-index: 200;

    background-color: var(--color-nintendo);
}

nav .mobile .links a {
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;

    color: white;
}

nav .mobile .links a:hover{
    font-size: 20px;
    display: block;
    padding: 10px 20px;
    text-decoration: none;

    color: black;
    background-color: white;
}

/* -------------------------- HEADER ------------------------*/
/* --------------------------------------------------------- */

header{
    background-image: url(../img/botw-cover-darkmode.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

/* -------------------------- BANNER ------------------------*/
/* --------------------------------------------------------- */

#banner{
    font-size: 1.5em;
    text-align: center;
    padding: 40px;
    width: 400px;
    position: absolute;
    z-index: 100;
    top: 100px;
    right: 100px;

    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

#banner img{
    padding: 0;
    margin: 0;
}

h2{
    font-size: 2.9rem;
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    color: white;

    margin-bottom: 50px;
}

/* ----------------Intersection observer------------ */
/* ------------------------------------------------- */

#slider,
#nav-h,
#nav-h2,
#banner-img,
#banner-btn,
#banner-btn2,
#banner-text,
#sinop,
#save-h{
    opacity: 0;
    transform: scale(0.9);
    transition: opacity, transform 0.7s ease-in-out;
}

#slider.visible,
#nav-h.visible,
#nav-h2.visible,
#banner-img.visible,
#banner-btn.visible,
#banner-btn2.visible,
#banner-text.visible,
#sinop.visible,
#save-h.visible{
    opacity: 1;
    transform: scale(1);
}

.red-link,
.red-button{
    text-transform: uppercase;
    border: 0;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    padding: 10px 40px;
    background-color: var(--color-nintendo);
    color: white;
    font-weight: bolder;
    text-decoration: none;

    transition: background-color 0.2s ease;
}


.red-link:hover,
.red-button:hover{
    background-color: #9c0f14;
}

/* .red-link{
    border: 0;
    display: inline-flex;
    position: relative;
    align-items: center;
    font-size: 14px;
    padding: 10px 40px;
    color: #dd2329;
    font-weight: bolder;
    text-decoration: none;
}

.red-link::before{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;

    background-color: rgb(207, 207, 207);
}

.red-link:hover::before{
    transform: scaleX(1);
} */

/* -------------------------- VIDEOS ------------------------*/
/* --------------------------------------------------------- */

.w-75{
    width: 75%;
    margin: 0 auto;
}

h3{
    font-size: 1.6em;
    padding-top: 50px;
    color: white;
}

#videos{
    text-align: center;
    padding: 50px 0;

    background-image: url(../img/bg-videos.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
}

#videos #slider #controls{
    display: flex;
    justify-content: center;
}

#videos #slider #controls #prev,
#videos #slider #controls #next{
    border: none;
    height: 50px;
    width: 80px;
    background-color: rgb(77, 77, 77);
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#videos #slider #controls #prev:hover,
#videos #slider #controls #next:hover{
    background-color: rgb(55, 55, 55);
}

#videos #slider #current{
    width: 854px;
    height: 482px;
    margin: 50px auto;
    border: solid 1px #00c3ff;
}

#videos #slider #videos-container{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    overflow: auto;
}

#videos #slider #videos-container .item{
    border: solid 1px #00c3ff;
    cursor: pointer;
    overflow: hidden;

    min-width: 210px;
    min-height: 120px;

    line-height: 0;
}

#videos #slider #videos-container .item a{
    position: relative;
}


#videos #slider #videos-container .item img{
    object-fit: contain;
    width: 210px;
    height: 120px;
    min-width: 210px;
    min-height: 120px;
    padding: 0;
    margin: 0;
    transition: opacity 0.1s ease;
}

#videos #slider #videos-container .item:hover a img{
    opacity: 0.7;
}

#videos #slider #videos-container .item a::before{
    font-family: "Material Icons";
    content: 'play_arrow';
    font-size: 20px;
    color: white;
    position: absolute;
    display: block;
    left: 86px;
    top: -62px;
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

/* -------------------------- DLCS ------------------------*/
/* --------------------------------------------------------- */

#dlc-section{
    height: 100vh;
    background-image: url('/src/img/bg-dlc.png');
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    padding: 40px;
    width: 600px;
    margin-right: 50px;

    transition: background 0.3s ease;
}

.info img{
    width: 400px;
}

.info p{
    font-size: 20px;
}

/* -------------------------- GET THE GAME - STORE ------------------------*/
/* --------------------------------------------------------- */

#get-the-game{
    text-align: center;
    padding: 50px 0;

    color: white;
}

#get-the-game h2{
    color: white;
}

#get-the-game h3{
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
}

#get-the-game .item-store{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: flex-start;
}

#get-the-game .item-store .left{
    padding: 0 20px;
    width: 100%;
}

#get-the-game .item-store .left img{
    width: 300px;
}

#get-the-game .item-store .right{
    text-align: left;
    width: 80%;
}

footer{
    height: 600px;

    background-image: url('/src/img/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1190px) {
    nav .link-hide{
        display: none;
    }

    nav .more{
        display: flex;
    }

    header{
        height: 70vh;
    }

    #banner{
        position: initial !important;
        z-index: 100;
        width: 100%;
    }

    #slider #current{
        width: 90% !important;
        line-height: 0;
    }

    #slider #current iframe{
        width: 100% !important;
    }

    #dlc-section{
        background-position: center left;
    }

    .info{
        width: 600px;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
    }

    #get-the-game .item-store{
        width: 100%;
        padding: 20px;
    }

    #get-the-game .item-store .left img{
        width: 200px;
    }

    #get-the-game .item-store .right{
        width: 100%;
    }
}

@media screen and (max-width: 680px) {

    nav{
        width: 100%;
        padding: 0;
    }

    nav ul{
        display: none;
    }

    nav .mobile{
        display: block;
    }

    header{
        height: 30vh;
    }

    #banner{
        position: initial !important;
        z-index: 100;
        width: 100%;
        opacity: 1;
        transform: scale(1);
    }

    #slider #current{
        width: 302px !important;
        height: 100% !important;
        line-height: 0;
    }

    #slider #current iframe{
        width: 300px;
        height: 100%;
    }

    #slider #videos-container{
        display: none !important;
    }

    #dlc-section{
        background-position: -50px 0px;
    }

    .info{
        width: 90%;
        margin: 0 auto;
    }

    .info img{
        width: 100%;
    }

    #get-the-game .item-store{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }

    #get-the-game .item-store .left img{
        width: 200px;
    }

    #get-the-game .item-store .right{
        text-align: center;
        width: 100%;
    }
}